<%= render "navbar" %>
<div class="container">
  <h1 class = 'mt-5 pt-4'><%= @list.name %></h1>
  <div>



<div class="cards container mt-4">
  <% @list.bookmarks.each do |bookmark| %>
    <% bookmark.photos.each do |photo| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(photo.key, crop: :fill) %>')"></div>
    <% end %>
  <% end %>
</div>



  <%=link_to "List", root_path%>
  <%=link_to "New Bookmark",  new_list_bookmark_path(@list)%>
</div>
